@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Fascinate&family=Open+Sans:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

#app {
  margin: 0;
  width: 100vw;
  overflow: hidden;
}
